$page-color: #fffbec
.book-page-wrapper
    position: absolute
    width: 100vw
    height: 100vh
    overflow: hidden
.book
    position: absolute
    top: 50%
    left: 50%
    perspective: 1000px
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    max-width: 50.33vh
    max-height: 70vh
    width: 40vw
    height: 57.6vw
    &:hover
        cursor: grab
    & .page
        position: absolute
        overflow: hidden
        max-width: inherit
        max-height: inherit
        width: inherit
        height: inherit
        transform-origin: left center
        background-color: #ffdab9
        box-shadow: -1px -1px 1px 0px grey inset
        transition: transform .3s
        transform: rotateY(0deg)
    & .cover
        z-index: 99
        background: #303030
        // transform: rotateY(-25deg)
        & .title
            margin: 0
            padding: 0.83em 0
            text-align: center
            font-size: 30px
            color: white
    & .mid-page
        z-index: 1
        background-color: $page-color
    & .last-page
        z-index: 0
        background-color: white
        // transform: rotateY(0deg)

