$page-color: #fffbec
.book-page-wrapper
    position: absolute
    width: 100vw
    height: 100vh
    overflow: hidden
.book
    position: absolute
    top: 50%
    left: 50%
    transform-style: preserve-3d
    perspective: 2000px
    transform: translate(0%, -50%)
    max-width: 50.33vh
    max-height: 70vh
    width: 40vw
    height: 57.6vw
    letter-spacing: 3px
    &:hover
        cursor: grab
    & .page
        position: absolute
        max-width: inherit
        max-height: inherit
        width: inherit
        height: inherit
        transform-style: preserve-3d
        transform-origin: left center
        background-color: #ffdab9
        box-shadow: 0px 0px 1px 1px gray
        transform: rotateY(0deg)
        transition: transform .3s
        & .front,& .back
            position: absolute
            width: 100%
            height: 100%
            background-color: inherit
            transition-delay: .15s
        & .front
            transform: translateZ(1px)
        & .back
            transform: scaleX(-1) translateZ(-1px)
    & .cover,& .last-page
        background: #303030
        // transform: rotateY(-25deg)
        & .title
            margin: 0
            padding: 0.83em 0
            text-align: center
            font-size: 6vmin
            color: white
        & .coverImg
            display: block
            width: 50%
            margin: auto
    & .page1,& .page2,& .page3,& .page4,& .page5,& .page6,& .page7,& .page8,& .page9,& .page10,& .page11,& .page12
        text-align: center
        & .title
            color: grey
            font-size: 4vmin
        & .startImg
            max-width: 100%
            height: 75%
    & .mid-page
        // z-index: 1
        background-color: $page-color
    & .last-page
        // z-index: 0
        background-color: white
        // transform: rotateY(0deg)
        & .front,& .back
            display: flex
            & img
                margin: auto

